@model Apoteka.Models.Drzava

@{
    ViewData["Title"] = "Država / Brisanje";
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Da li ste sigurni da želite obrisati ovu državu?</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Naziv)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Naziv)
                    </dd>
                </dl>
                <div class="row">
                    <div class="col">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="DrzavaId" />
                            <input type="submit" value="Obriši" class="btn btn-danger" /> |
                            <a asp-action="Index">Nazad na listu</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
