@model Apoteka.Models.Drzava

@{
    ViewData["Title"] = "Država / Detalji";
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Detalji za državu: @Model.Naziv</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Naziv)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Naziv)
                    </dd>
                </dl>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.DrzavaId">Izmijeni</a>
                        <a class="btn btn-primary" asp-action="Index">Nazad na listu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


