@model Apoteka.Models.Drzava

@{
    ViewData["Title"] = "Država / Izmjena";
}

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Izmijena države - @Model.Naziv</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="DrzavaId" />
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="Naziv" class="bmd-label-floating"></label>
                                    <input asp-for="Naziv" class="form-control" />
                                    <span asp-validation-for="Naziv" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <a class="btn btn-outline-primary" asp-action="Index">Nazad na listu</a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group pull-right">
                                    <input type="submit" value="Sačuvaj" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
