@model Apoteka.Models.Dobavljac

@{
    ViewData["Title"] = "Dobavljač / Kreiranje";
}

<div class="row">
        <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Dodaj novog dobavljača</h4>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="GradId" class="bmd-label-floating">Grad</label>
                                <select asp-for="GradId" class="form-control" asp-items="ViewBag.GradId"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Naziv" class="bmd-label-floating"></label>
                                <input asp-for="Naziv" class="form-control" />
                                <span asp-validation-for="Naziv" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Adresa" class="bmd-label-floating"></label>
                                <input asp-for="Adresa" class="form-control" />
                                <span asp-validation-for="Adresa" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Telefon" class="bmd-label-floating"></label>
                                <input asp-for="Telefon" class="form-control" />
                                <span asp-validation-for="Telefon" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="EMail" class="bmd-label-floating">E-Mail</label>
                                <input asp-for="EMail" class="form-control" />
                                <span asp-validation-for="EMail" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <a class="btn btn-outline-primary" asp-action="Index">Nazad na listu</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group pull-right">
                                <input type="submit" value="Sačuvaj" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
