@{
    ViewData["Title"] = "Početna strana";
}


<div class="img-container">
    <img src="~/assets/img/naslovna1.jpg" alt="Snow" style="width:100%">
    <a class="btn btn-lg btn-primary" style="margin-left: 60px;" asp-area="" asp-controller="Racun" asp-action="Create">Započni novu kupovinu</a>
</div>

@section Scripts {
    <style>
        .img-container {
            position: relative;
            width: 100%;
        }

            .img-container img {
                width: 100%;
                height: auto;
            }

            .img-container .btn {
                position: absolute;
                top: 72%;
                left: 15%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
            }
    </style>
}